@model BookStoreDashboard.Models.ActionMessage

<div class="container">
    <br />
    <h3>@Model.Message</h3>
    <br />
    <p class="text-muted">Back to <a asp-controller="Home" asp-action="Dashboard">Dashboard</a></p>
</div>