@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <br />
    <h3>Admin dashboard</h3>
    <br />

    <a asp-controller="Book" asp-action="Overview" class="btn btn-success btn-lg">Books</a>
    <a asp-controller="Order" asp-action="Overview" class="btn btn-success btn-lg">Orders</a>
    
</div>
